body{
    margin: 0;
    background-color: black;
}
a:link {
    text-decoration: none;
}
a:hover{
    font-size: 1.2em;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "section1 section2"
        "section3 section4"
}
@font-face {
    font-family: 'minecrafting';  
    src: url('minecrafting.otf'); 
}
.section1{
    grid-area: section1;
    height: 30em;
    background-color: red;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(nether.jpg);
    background-position: center;
    background-size: cover;
}
.section2{
    grid-area: section2;
    height: 30em;
    background-color: blue;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(letter.jpg);
    background-position: center;
    background-size: cover;
}
.section3{
    grid-area: section3;
    height: 30em;
    background-color: brown;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(herobrine.jpg);
    background-position: center;
    background-size: cover;
}
.section4{
    grid-area: section4;
    height: 30em;
    background-color: orange;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(netherCastle.png);
    background-position: center;
    background-size: cover;
}
#logoMinecraft{
    height: 5vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#logoMinecraft:hover { 
    height: 6vh;
    cursor: pointer;
}
#story{
    font-size: 3vh;
    margin: 5em;
    color: red;
}
#heading{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    font-family: minecrafting;
}
.heading{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media only screen and (max-width: 760px) {
    .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "section1 section1"
        "section2 section2"
        "section3 section3"
        "section4 section4";
}
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "story1 story1"
        "story2 story2"
        "story3 story3"
        "story4 story4"
}
.story1{
    grid-area: story1;
    background-color: blue;
    height: 30em;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(nether.jpg);
    background-position: center;
    background-size: cover;
}
.story2{
    grid-area: story2;
    background-color: black;
    height: auto;
}
.story3{
    grid-area: story3;
    background-color: red;
    height: 30em;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(mypicture.png);
    background-position: center;
    background-size: cover;
}
.story4{
    grid-area: story4;
    background-color: black;
    height: 30em;
}
@media only screen and (max-width: 760px) {
    .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "story1 story1"
        "story2 story2"
        "story3 story3"
        "story4 story4";
}
    .story2{
        text-align: center;
    }
}
